<aside class="h-100 d-flex flex-column">
    <nav class="nav flex-column text-nowrap flex-nowrap overflow-y-auto h-100">
        <div class="d-flex justify-content-center pb-5">
            <img src="/assets/images/foodoo.png" alt="logo" class="logo image-fluid ">
        </div>

        <div class="d-flex flex-column align-items-center mb-5 pb-5">
            <img src="/assets/images/Profile-img.jpg" alt="profile" class="profile image-fluid">
            <h2 class="cursive">Kristin Watson</h2>
            <p class="text-info">Chef de Partie</p>
            <div class="rounded-pill shadow px-3 py-2">
                <span class="icon-badge text-secondary pe-2"></span>
                <span>37</span>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-between h-100">
            <ul class="ps-0 flex-grow-1">
                <li class="pb-3 nav-item">
                    <a routerLink="" class="nav-link d-flex cursor-pointer text-decoration-none text-info ps-5">
                        <span class="icon-recepies pe-4 d-flex align-items-center"></span>
                        <span>Recipes</span>
                    </a>
                </li>

                <li class="pb-3 nav-item">
                    <a routerLink="" class="nav-link cursor-pointer d-flex text-decoration-none text-info ps-5">
                        <span class="icon-favourites pe-4 d-flex align-items-center"></span>
                        <span>Favourites</span>
                    </a>
                </li>

                <li class="pb-3 nav-item">
                    <a routerLink="" class="nav-link cursor-pointer d-flex text-decoration-none text-info ps-5">
                        <span class="icon-course pe-4 d-flex align-items-center"></span>
                        <span>Courses</span>
                    </a>
                </li>

                <li class="pb-3 nav-item">
                    <a routerLink="" class="nav-link cursor-pointer d-flex text-decoration-none text-info ps-5">
                        <span class="icon-community pe-4 d-flex align-items-center"></span>
                        <span>Community</span>
                    </a>
                </li>
            </ul>

            <div class="p-4 text-center">
                <img src="/assets/images/Profile-img.jpg" alt="profile" class="profile-img image-fluid">
                <p class="text-wrap fw-bold">Create a team and take a part in TV Show!</p>
            </div>
        </div>
    </nav>
</aside>