$primary:#fcf4f0;
$secondary:#db3529;
$ternary:#7dbfa2;
$danger:#964953;
$dark:#000000;

$info:#c2b9b6;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "ternary": $ternary,
  "danger":$danger,
  "dark":$dark,
  "info": $info,
);

